{% import 'base/components/nav-links.html' as nav %}
{% extends 'base.html' %}

{% block nav %}
    {{ nav.nav_links(active) }}
{% endblock %}

{% block nav_mobile %}
    {{ nav.nav_links(active) }}
{% endblock %}

{% block header %}
<div class="headerContainer">
    <a href="https://www.royalholloway.ac.uk/" target="_blank" rel="noopener noreferrer" class="royalHollowayImage">
        <img src="https://www.royalholloway.ac.uk/images/logoRoyalHolloway2x.png" alt="Royal Holloway University of London" style="width: 100%; height: 100%; object-fit: contain;">
    </a>
    <div class="dialogTitle">
        <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900 m-0">
            Welcome to S2Fweb
        </h1>
        <h2 class="text-base font-semibold leading-tight tracking-tight text-gray-800 m-0">
            Protein Function Prediction for newly sequenced organisms
        </h2>
    </div>
    <a href="https://emap.fgv.br/en" target="_blank" rel="noopener noreferrer" class="fundacionImage">
        <img src="https://emap.fgv.br/sites/default/themes/custom/emap/logo.svg" alt="FGV EMAP" style="width: 100%; height: 100%; object-fit: contain; padding: 0 10px;">
    </a>
</div>
<p class="max-w-4xl text-center text-sm text-gray-700">
    S2Fweb is a web server that allows users to predict protein functions for newly sequenced organisms using the S2F (Sequence to Function) method.    
</p>
<p class="max-w-4xl text-center text-sm text-gray-700">
    Developed by <a href="https://torresmateo.com/" target="_blank" rel="noopener noreferrer" class="text-indigo-600 hover:text-indigo-500 font-semibold">Mateo Torres</a> and <a href="https://github.com/Mbaez97" target="_blank" rel="noopener noreferrer" class="text-indigo-600 hover:text-indigo-500 font-semibold">Marcelo Baez</a>
</p>
{% endblock %}

{% block content %}
<div class="pt-20">
    <h3 class="text-2xl font-semibold leading-6 text-gray-900">References:</h3>
    <div class="my-10">
        <p>
            If you found S2Fweb useful for your work or research, please let us know, and cite the following articles:
        </p>
        <ul role="list" class="mt-8 space-y-8 text-gray-600">
            <li class="flex gap-x-3">
                <svg class="mt-1 h-5 w-5 flex-none text-gray-900" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                    fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                </svg>

                <span>
                    Torres, M., Báez, M. and Paccanaro, A.<br>
                    <a href="#"
                       class="font-semibold text-indigo-600 hover:text-indigo-400">S2Fweb: the protein function prediction service for newly sequenced organisms</a>
                    <span class="italic">In preparation</span>
                    doi: 
                    <a href="#"
                       class="font-semibold text-indigo-600 hover:text-indigo-400">
                        in preparation
                    </a>
                    
                </span>
            </li>
            <li class="flex gap-x-3">
                <svg class="mt-1 h-5 w-5 flex-none text-gray-900" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                    fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                </svg>

                <span>
                    Torres, M., Yang, H., Romero, A.E., and Paccanaro, A.<br>
                    <a href="http://dx.doi.org/10.1038/s42256-021-00419-7"
                       class="font-semibold text-indigo-600 hover:text-indigo-400">Protein function prediction for newly sequenced organisms.</a>
                    <span class="italic">Nature Machine Intelligence.</span> (2021).
                    doi: 
                    <a href="http://dx.doi.org/10.1038/s42256-021-00419-7"
                       class="font-semibold text-indigo-600 hover:text-indigo-400">
                        10.1038/s42256-021-00419-7
                    </a>
                    
                </span>
            </li>
        </ul>
    </div>

    <h3 class="text-2xl font-semibold leading-6 text-gray-900">S2Fweb runs the following tools</h3>
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-4">
        <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
            <dt class="truncate text-sm font-medium text-gray-500">STRING</dt>
            <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">v12.0</dd>
        </div>
        <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
            <dt class="truncate text-sm font-medium text-gray-500">InterProScan</dt>
            <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">v5.76-107.0</dd>
        </div>
        <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
            <dt class="truncate text-sm font-medium text-gray-500">HMMER</dt>
            <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">v3.3.2</dd>
        </div>
        <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
            <dt class="truncate text-sm font-medium text-gray-500">BLAST</dt>
            <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">v2.11.0</dd>
        </div>
    </dl>
</div>

{% endblock %}
