{% import 'base/components/nav-links.html' as nav %}
{% extends 'base.html' %}

{% block nav %}
    {{ nav.nav_links(active) }}
{% endblock %}

{% block nav_mobile %}
    {{ nav.nav_links(active) }}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<form method="post" action="{{ url('search') }}" enctype="multipart/form-data">
    {{ csrf_input }}
    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-6">
            <label for="token" class="block text-sm font-medium leading-6 text-gray-900">Token</label>
            <div class="mt-2">
                <input type="text" name="token" id="token"
                       class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>
    </div>
    <div class="w-full text-center">
        <button
            type="submit"
            class="rounded-md
                   mx-auto 
                   my-8
                   w-3/4
                   bg-indigo-600
                   px-3 py-2
                   text-sm font-semibold
                   text-white shadow-sm
                   hover:bg-indigo-500
                   focus-visible:outline
                   focus-visible:outline-2
                   focus-visible:outline-offset-2
                   focus-visible:outline-indigo-600">
            Check Status
        </button>
    </div>
</form>
{% endblock %}
